# DialogFlow Account Key
**/*key.json

# Properties file with credentials
**/*-private*.properties

# Runtime Data
**/data/
**/public/

# Xatkit logs
**/logs

# Bin scripts
**/bin
**/target


# Eclipse's .settings
**/.settings

# Eclipse's .project & classpath
**/.classpath
**/.project

# IntelliJ settings
**/.idea
*.iml
